@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  margin: 0;
}

.page-container {
  display: flex;
  height: 100vh;
}

.bookmark-entry-container {
  background-color: #455a64;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.bookmark-entry-container h1 {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.bookmark-entry-container h1 img {
  width: 4.5rem;
}

.bookmark-form {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.bookmark-form .title-input {
  border: none;
  color: #d0d2d3;
  font-size: 1.5rem;
  line-height: 40px;
  outline: none;
  padding: 0 10px;
  transform: translateY(5px);
}

.bookmark-form .url-input {
  border: none;
  color: #d0d2d3;
  font-size: 1.5rem;
  line-height: 40px;
  margin-top: 40px;
  outline: none;
  padding: 0 10px;
  transform: translateY(5px);
}

.bookmark-form input::placeholder {
  color: #d0d2d3;
  font-size: 1.5rem;
}

.bookmark-form button {
  background-color: #ffc107;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 40px;
  outline: none;
  padding: 8px 0;
}

.bookmark-form button:hover {
  background-color: #ffd773;
}

.bookmark-display-container {
  background-color: #cfd8dc;
  flex: 1;
  min-height: 500px;
  overflow: scroll;
}

.bookmark-counter-section {
  color: #607d8b;
  font-weight: 800;
  margin: 5%;
}

.bookmark-element {
  align-items: flex;
  background-color: #fff;
  border: 2px solid #607d8b;
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 0 3%;
}

.bookmark-element h2 {
  border-bottom: 2px solid #cfd8dc;
  color: #455a64;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.bookmark-element a {
  border-bottom: 2px solid #cfd8dc;
  color: #607d8b;
  margin: 0;
  padding: 15px 0;
  text-decoration-color: #f2f4f4;
  text-decoration: underline;
}

.bookmark-element a:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration-color: #ffc107;
}

.bookmark-element p {
  border-bottom: 2px solid #cfd8dc;
  margin: 0;
  padding: 15px 0;
  text-decoration-color: #f2f4f4;
  text-decoration: underline;
}

.bookmark-element p:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration-color: #ffc107;
}

.bookmark-element div {
  color: #455a64;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
}

.bookmark-element div span {
  text-decoration-color: #f2f4f4;
  text-decoration-line: underline;
}

.bookmark-element div span:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration-color: #ffc107;
}

.read .read-button {
  color: #f05a28;
  font-weight: 800;
}

.clear-read-bookmarks {
  margin: 0 5% 30px 5%;
  background-color: #ffc107;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  outline: none;
  padding: 8px 20px;
}

.clear-read-bookmarks:hover {
  background-color: #ffd773;
}

.display-none {
  display: none;
}

@media only screen and (max-width: 845px) {
  .page-container {
    flex-direction: column;
    height: auto;
  }

  .bookmark-entry-container {
    padding-bottom: 30px;
  }

  .bookmark-entry-container h1 {
    font-size: 2.5rem;
  }

  .bookmark-entry-container h1 img {
    width: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .bookmark-entry-container h1 {
    font-size: 2rem;
  }
  .bookmark-entry-container h1 img {
    width: 2.8rem;
  }
}
